<h1> events </h1> 
<%= link_to 'new event', new_event_path  %> 
<% @events.each do |event| %> 
<h3> <%= event.name %> </h3>
<%= link_to 'edit', edit_event_path(event) %> |
<%= link_to 'delete', event_path(event), method: :delete,data: {confirm: 'sure?'} %> 
<% end %>

