<h1> Add event </h1> 
<%= form_for :event, url: events_path do |f| %>

<!-- Error messages -->
<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
      this event from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">	
            <label for="name-input" >Name: </label>
            <input type="text" class="form-control" name="event[name]" id="name-input"/>
        </div>
        <div class="form-group">	
            <label for="locaton-input" >Location: </label>
            <input type="text" class="form-control" name="event[location]" id="location-input"/>
        </div>
        <div class="form-group">	
            <label for="description-input" >Description: </label>
            <textarea id="description-input" class="form-control" name="event[description]">
                
            </textarea>
        </div>
        <div class="form-group">	
            <label for="organisation-input" >Organisation: </label>
            <input type="text" class="form-control" organisation="event[organisation]" id="organisation-input"/>
        </div>
        <div class="form-group">	
            <label for="latitude-input" >Latitude: </label>
            <input type="text" class="form-control" name="event[latitude]" id="latitude-input"/>
        </div>
        <div class="form-group">	
            <label for="longitude-input" >Longitude: </label>
            <input type="text" class="form-control" name="event[longitude]" id="longitude-input"/>
        </div>
        <div class="form-group">
            <button  type="submit" name="commit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
<% end %>

	<!--:name :location :description :organisation :latitude :longitude-->
