<div id="login-div">
<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %> 
  
  <% if current_user.try(:admin?) %>
  	<b> admin </b>
  <% end -%>
    <span class="glyphicon glyphicon-user"></span>
  
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  </p>
<% else %>
  <p>You are not signed in.
  <%= link_to 'Login', new_user_session_path %>
  </p>
<% end %>
</div>
